#root-container .layer .info {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: clamp(2.9375rem, 0rem + 3.6719vw, 8.8125rem)
    clamp(3.625rem, 0rem + 4.5313vw, 10.875rem);
  color: #fff;
  display: flex;
  flex-direction: column;
}

#root-container .layer .info .painting-name {
  font-weight: 500;
}

#root-container .layer .info .artist-name {
  font-weight: 300;
}
