#ActiveSales {
  width: 73%;
  height: 94%;
  position: relative;
  background-color: #2d0043;
  border-radius: 0.5em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}
.ActiveSales-top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}
.ActiveSales-top-nav .ActiveSales-top-nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.ActiveSales-top-nav-left #header-1 {
  color: #e8e8e8;
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
}
.ActiveSales-top-nav-left .line-bar {
  color: #e8e8e8;
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
}
.ActiveSales-top-nav-left #header-2 {
  color: #e8e8e8;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}
.ActiveSales-top-nav .ActiveSales-top-nav-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.ActiveSales-top-nav-right .search-bar-div {
  display: flex;
  background: rgba(115, 115, 115, 0.5);
  border-radius: 0.5rem;
  padding: 0 1rem;
}
.ActiveSales-top-nav-right #search-text {
  color: #e8e8e8;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
}
.ActiveSales-top-nav-right .search-img {
  padding: 0.6rem 1rem;
}
.ActiveSales-top-nav-right .filter-div {
  background: rgba(115, 115, 115, 0.5);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
}

#ActiveSales {
  width: 100%;
  color: #e8e8e8;
}

#ActiveSales .artist-collection-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
  margin: 0 1rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
  position: relative;
  background-color: #203;
  border-radius: 0.5rem;
}
.infoStatus {
  display: flex;
  gap: 1rem;
}
.infoStatus > div {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.infoStatus #bid-status-btn {
  color: #ffff;
  background-color: #8b54a5;
  border-radius: 0.5rem;
  border: 1px solid #8b54a5;
  padding: 0.5rem;
}
.infoStatus .online-Auction-header {
  border: 1px solid #E887D3;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
}
.infoStatus .online-Auction-header .statusNotLive1{
  color: #e8e8e8; ;
}
.infoStatus .online-Auction-header .statusNotLive2{
  color:#b71212 ;
}
#ActiveSales #circle {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: #b71212;
  border: 1px solid #b71212;
}

#ActiveSales .artist-name {
  font-size: 1.75rem;
  color: #ffca60;
  font-family: supravitally;
  letter-spacing: -0.5px;
}

#ActiveSales p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 300;
  width: calc(100% - 10rem);
}
#ActiveSales .lite-text {
  color: #e8e8e8;
  font-family: Roboto;
  font-weight: 300;
}
#ActiveSales #current-bid{
  font-weight: 500;
}
#ActiveSales .curator-host {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 300;
}

#ActiveSales .curator-host .wall {
  height: 1rem;
  width: 1px;
  border: 1px solid #e8e8e8;
}

#ActiveSales .artist-collection-card img {
  width: 10rem;
  height: 100%;
  object-fit: cover;
  object-position: top;
  position: absolute;
  right: 0;
  top: 0;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

#ActiveSales .artpiece {
  cursor: pointer;
  display: flex;
  gap: 1rem;
  background-color: #203;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.5rem 1rem;
  transition: transform 0.25s ease;
}

.selected {
  transform: scale(1.02);
  box-shadow: 0px 0px 26px 0px rgba(255, 202, 96, 0.5);
}

#ActiveSales .artpiece img {
  height: 9rem;
  width: 9rem;
  object-fit: cover;
}

#ActiveSales .artpiece .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.btn-update-bid {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--Primary-Yellow, #dddf1c);
  color: var(--Color, #fff);

  /* T1 300/Text 1 */
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  display: inline-flex;
  padding: 0.75rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: none;
}
.active-sale-container {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 80vh;
}

.active-sale-container::-webkit-scrollbar {
  display: none;
}