#complete-profile-card {
  width: 73%;
  height: 94%;
  background-color: #2d0043;
  border-radius: 0.5em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.header {
  color: #e8e8e8;
  font-family: Roboto;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 500;
}
.cards-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 100%;
  overflow-y: auto;
}
.cards-container::-webkit-scrollbar {
  display: none;
}
.profile-information {
  width: 41%;
  /* height: 40%; */
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 0.75em;
  border: 1px solid rgba(127, 127, 127, 0.23);
  background: linear-gradient(
    115deg,
    rgba(255, 255, 255, 0.39) -51.38%,
    rgba(255, 255, 255, 0) 62.84%,
    rgba(196, 196, 196, 0) 100.12%
  );
  backdrop-filter: blur(20px);
  padding: 1em;
}
#title {
  color: #fff;
  font-family: Roboto;
  font-size: 0.875em;
  font-style: normal;
  font-weight: 500;
}
.profile-details {
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: #fff;
  font-family: Roboto;
  font-size: 0.875em;
  font-style: normal;
  font-weight: 500;
}
#complete-profile-card span {
  color: #fff;
  font-family: Roboto;
  font-size: 0.875em;
  font-style: normal;
  font-weight: 300;
}

#complete-profile-card button {
  float: right;
  border-radius: 0.25em;
  border: 1px solid rgba(112, 115, 127, 0.8);
  background-color: #2d0043;
  padding: 0 1.5em;
  color: #fff;
  font-family: Roboto;
  font-size: 0.875em;
  font-style: normal;
  font-weight: 400;
}

#payment-div {
  width: 41%;
  display: flex;
  justify-content: space-between;
}
#payment-div > div {
  color: #fff;
  font-family: Roboto;
  font-size: 0.875em;
  font-style: normal;
  font-weight: 500;
  padding-right: 1em;
}

.payment-information {
  width: 41%;
  height: 45%;
  display: flex;
  flex-direction: column;
  border-radius: 0.75em;
  border: 1px solid rgba(127, 127, 127, 0.23);
  background: linear-gradient(
    115deg,
    rgba(255, 255, 255, 0.39) -51.38%,
    rgba(255, 255, 255, 0) 62.84%,
    rgba(196, 196, 196, 0) 100.12%
  );
  backdrop-filter: blur(20px);
  padding: 1em;
}
.payment-details {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  color: #fff;
  font-family: Roboto;
  font-size: 0.875em;
  font-style: normal;
  font-weight: 500;
}
#payment-header {
  height: 15%;
  display: flex;
  flex-direction: row;
  gap: 0.25em;
}
#header-text {
  padding: 0.5em;
  align-items: center;
}
#card-number {
  height: 14%;
  display: flex;
  flex-direction: row;
  gap: 3em;
}
#card-number div {
  color: rgba(212, 212, 212, 0.8);
  text-align: center;
  text-shadow: -1.239px 6.193px 4.954px rgba(0, 0, 0, 0.5);
  font-family: Roboto;
  font-size: 1.08375em;
  font-style: normal;
  font-weight: 500;
}
#card-images {
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#card-images #wifi-img {
  padding-right: 2rem;
}
#payment-footer {
  height: 17%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#payment-footer > div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(197, 197, 197, 0.8);
  text-shadow: -1.239px 1.239px 0px rgba(0, 0, 0, 0.5);
  font-family: IBM Plex Mono;
  font-size: 0.8515em;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.5em;
}
#payment-footer #payment-method {
  padding-right: 2rem;
}

.verification-details {
  width: 41%;
  height: 40%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 0.75em;
  border: 1px solid rgba(127, 127, 127, 0.23);
  background: linear-gradient(
    115deg,
    rgba(255, 255, 255, 0.39) -51.38%,
    rgba(255, 255, 255, 0) 62.84%,
    rgba(196, 196, 196, 0) 100.12%
  );
  backdrop-filter: blur(20px);
  padding: 1em;
}
