#profile-wallet {
  width: 73%;
  height: 94%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #2d0043;
  border-radius: 0.5rem;

  padding: 1rem 2rem;
}
#header {
  width: 100%;
  height: 13%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#header-text {
  display: flex;
  width: 100%;
  height: 50%;
  color: #e8e8e8;
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
}
#sub-header {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding-left: 0.5rem;
}
#sub-header #text1 {
  color: #fdfdfd;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
}
#sub-header #text2 {
  color: #fdfdfd;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
}

#cards-header {
  width: 40%;
  height: 5%;
  color: #ffff;
  font-family: Roboto;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  padding-left: 0.5rem;
}
#cards-container {
  width: 100%;
  height: 37%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.card {
  width: 41%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  border: 1px solid rgba(127, 127, 127, 0.23);
  background: linear-gradient(
    115deg,
    rgba(255, 255, 255, 0.39) -51.38%,
    rgba(255, 255, 255, 0) 62.84%,
    rgba(196, 196, 196, 0) 100.12%
  );
  backdrop-filter: blur(20px);
  padding: 0.5rem 1rem;
}
.payment-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #fff;
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
}
.payment-header {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}
.payment-header-text {
  padding: 0.5rem;
}
.card-number {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.card-number div {
  color: rgba(212, 212, 212, 0.8);
  text-align: center;
  text-shadow: -1.239px 6.193px 4.954px rgba(0, 0, 0, 0.5);
  font-family: Roboto;
  font-size: 1.08375rem;
  font-style: normal;
  font-weight: 500;
}
.card-images {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.payment-footer {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.payment-footer > div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(197, 197, 197, 0.8);
  text-shadow: -1.239px 1.239px 0px rgba(0, 0, 0, 0.5);
  font-family: IBM Plex Mono;
  font-size: 0.8515rem;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.5rem;
  padding-right: 2rem;
}
.visa-img {
  width: 100%;
  height: 100%;
}
#add-newCard-div {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgba(201, 176, 213, 0.3);
  padding: 0.75rem 1rem;
  gap: 1rem;
}
#add-newCard-div #add-newCard-text {
  color: #fff;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}
#footer-wallet-text {
  color: #ffff;
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
}
#link-account-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
}
.circle-paypal{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
}
#link-account-footer #paypal-text {
  color: #ffff;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  opacity: 0.6;
}
#link-account-footer #link-account-text {
  color: #ffca60;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
}
