.live-container {
  height: 100%;
  position: relative;
  font-family: var(--robot);
  background: url("/Images/Live/Background1.png");
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  display: flex;
}

.live-container .live-top-bar {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: calc(100% - clamp(17.5rem, 0rem + 21.875vw, 52.5rem));
  max-width: 100%;
  width: 100%;
  margin-left: clamp(1rem, 0rem + 1.25vw, 3rem);
}

.live-container .live-top-bar .info-location-container {
  display: flex;
}

.live-container .live-top-bar .info {
  background: linear-gradient(
    108deg,
    rgba(43, 43, 43, 0.26) 0%,
    rgba(255, 255, 255, 0.07) 100%
  );
  color: #fff;
  display: flex;
  align-items: center;
}

.live-container .parent {
  min-height: clamp(4rem, 0rem + 5vw, 12rem);
  position: absolute;
  left: 0;
  padding-bottom: clamp(2.5rem, 0rem + 3.125vw, 7.5rem);
  bottom: 0;
  width: 100%;
}

.live-container .parent .info-place-bid-container {
  background: linear-gradient(
    0deg,
    rgba(32, 0, 51, 0.5) 0%,
    rgba(34, 0, 51, 0) 100%
  );
  display: flex;
  display: none;
}

.live-container .parent:hover > .info-place-bid-container {
  display: flex;
}

.live-container .info-place-bid-container button {
  outline: none;
  border: none;
  font-family: var(--robot);
  font-weight: 500;
}

.live-container .info-place-bid-container button:nth-child(1) {
  background-color: #203;
  color: #fff;
}

.live-container .footer {
  background-color: #203;
  width: 100%;
  display: flex;
  padding: clamp(0.75rem, 0rem + 0.9375vw, 2.25rem)
    clamp(1rem, 0rem + 1.25vw, 3rem);
  align-items: center;
  color: #e8e8e8;
  position: absolute;
  left: 0;
  bottom: 0;
}

.live-container .footer div:nth-child(2) {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  color: #c9b0d5;
}

.live-container .footer button {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  position: absolute;
  right: 1rem;
}

.live-container .corner-image {
  position: absolute;
  bottom: 3.5rem;
  right: 2rem;
}
