.swiper-coverflow {
  width: 100% !important;
  height: calc(100% - clamp(5.5rem, 0rem + 6.875vw, 16.5rem)) !important;
  overflow-x: hidden;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.swiper-wrapper {
  width: 100%;
  height: auto !important;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100% !important;
}

.swiper-slide img {
  background-position: center;
  background-size: cover;
  width: 100% !important;
  height: 48vh !important;
  display: block;
  object-fit: cover;
}

.swiper-slide-active {
  -webkit-box-reflect: below 30px
    linear-gradient(transparent, transparent, #0006) !important;
}
