#home-container {
  height: 100%;
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  font-family: var(--robot);
  overflow-y: auto;
  position: relative;
}

#home-container::-webkit-scrollbar {
  display: none;
}

#home-container .layer {
  height: fit-content;
  width: 100%;
  padding: 1rem 0.25rem;
  background: linear-gradient(0deg, #141414 33.64%, rgba(20, 20, 20, 0) 100%),
    linear-gradient(0deg, #141414 27.7%, rgba(20, 20, 20, 0) 84.45%);
}

#home-container #home-main .painting-info {
  margin-top: 12rem;
  color: #e8e8e8;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  padding: 0 1rem;
}

#home-container #home-main .painting-info #painting-name {
  font-size: clamp(1.5rem, 0rem + 1.875vw, 4.5rem);
  font-weight: 500;
}

#home-container #home-main .painting-info #artist-name {
  font-size: clamp(1.5rem, 0rem + 1.875vw, 4.5rem);
  font-weight: 300;
}

#home-container #home-main .painting-info button {
  margin-top: 1rem;
  padding: 0.25rem 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 0.5rem;
}

#home-container #home-main .live-paintings-container {
}

#home-container #home-main .live-paintings-container .collection-name {
  padding: 0 1rem;
  padding-top: 1.25rem;
  font-weight: 500;
  color: #e8e8e8;
}

#home-container #home-main .live-paintings {
  height: 50vh;
  width: 100%;
  display: flex;
  gap: 1rem;
  overflow: auto;
  overflow-y: hidden;
  padding: 1rem;
}

/* @media screen and (min-height: 1000px) {
  #home-container #home-main .live-paintings {
    height: 18rem;
  }
} */

#home-container #home-main .live-paintings::-webkit-scrollbar {
  display: none;
}

#home-container #home-main .live-paintings .img-container {
  position: relative;
  /* transition: transform 0.5s; */
}

#home-container #home-main .live-paintings .img-container .pages-svg {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  z-index: 2;
  background-color: rgba(128, 128, 128, 0.85);
  padding: 0.5rem;
  border-radius: 0.4rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: #e8e8e8;
}

#home-container #home-main .live-paintings .img-container .pages-svg img {
  height: 1.25rem;
  width: 1.25rem;
}

#home-container #home-main .live-paintings .img-container .auction_piece:hover {
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  transform: scale(1.01);
  box-shadow: 0px 0px 16px 0px rgba(255, 202, 96, 0.5);
  cursor: pointer;
}

#home-container #home-main .live-paintings .img-container > img {
  height: 100%;
  width: 40vw;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

#home-container #home-main .live-paintings .img-container .auction-piece-name {
  position: absolute;
  color: #e8e8e8;
  bottom: 0;
  width: 100%;
  left: 0;
  /* padding: 1rem; */
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 25%,
    rgba(71, 71, 71, 0) 100%
  );

  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  font-size: clamp(1.5rem, 0rem + 1.875vw, 4.5rem);
}
