
#origin-filter {
    background: rgba(232, 232, 232, 0.6);
    flex-shrink: 0;
    font-family: 'Roboto';
    height: 100%;
    padding-right: 5.63%;
    position: absolute;
    top: 0;
    width: 24.6875%;
    z-index: 401;
}

#origin-filter .image-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#origin-filter .image-container{
    display: flex;
    flex-direction: column;
    padding-left: 9.45%;
}

.image-section .logo {
    margin-top: 28px;
    z-index: 401;
}

.auction-image {
    height: 29.3%;
    width: 100%;
}

.image-section .top-image {
    margin-top: clamp(1rem, 0rem + 1.25vw, 3rem);
}

.auction-image-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.origin-cat {
    align-items: center;
    background: linear-gradient(22deg, rgba(112, 115, 127, 0.80) 34.2%, rgba(117, 121, 140, 0.20) 127.68%);
    display: flex;
    flex-direction: row;
    gap: 8px;
    height: 5.5555555555556%;
    justify-content: center;
    left: 45.546875%;
    position: absolute;
    top: clamp(1.5rem, 0rem + 1.875vw, 4.5rem);
    width: 10.9375%;
    z-index: 403;
}

.origin-cat .text {
    color: #E8E8E8;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 20px;
}
