.live-container .bid-preview-container {
  position: absolute;
  background: rgba(20, 20, 20, 0.9);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.live-container .bid-preview-container .preview-card {
  width: 49%;
  background-color: #2f2f2e;
  display: flex;
  flex-direction: column;
  padding: clamp(2rem, 0rem + 2.5vw, 6rem) clamp(4rem, 0rem + 5vw, 12rem);
}

.live-container .bid-preview-container .preview-card .timeline-bar {
  display: flex;
  flex-direction: column;
  margin-bottom: clamp(2rem, 0rem + 2.5vw, 6rem);
}

.live-container .preview-card .timeline-bar img {
  height: clamp(2.75rem, 0rem + 3.4375vw, 8.25rem);
  width: 100%;
  object-fit: cover;
}

.bid-preview-container .timeline-bar .labels {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #e8e8e8;
}

.bid-preview-container .summary {
  color: #e8e8e8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bid-preview-container .summary .title {
  font-size: clamp(0.875rem, 0rem + 1.0938vw, 2.625rem);
  font-weight: 300;
  border-bottom: 1px solid #f5ae23;
}

.bid-preview-container .preview-card .summary .last-message {
  font-weight: 300;
}

.bid-preview-container .preview-card .summary .last-message span {
  font-weight: 500;
}

.bid-preview-container .preview-card .summary img {
  height: clamp(16rem, 0rem + 20vw, 48rem) !important;
  object-fit: cover;
}
