#desktop-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
}

#desktop-container .desktop-div {
  height: 100%;
  position: relative;
  flex: 1;
  display: flex;
  gap: 1.62rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#desktop-container .desktop-div .image-div {
  position: relative;
}
#desktop-container .desktop-div button {
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background: var(--Foundation-Primary-primary-300, #8b54a5);
  color: var(--Color, #fff);
  font-family: Roboto;
  font-weight: 500;
  line-height: 1rem;
}
#desktop-container .vector-div {
  position: absolute;
  top: -1rem;
  right: -1rem;
}
#desktop-container .desktop-div .flash {
  top: 0rem;
  position: absolute;
}
#desktop-container .scroll-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
