#MobileContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.62rem;
  overflow: auto;
  overflow-y: scroll;
}
#mobile {
  width: 91.55%;
  display: flex;
  flex-direction: column;
  padding: 3.25rem;
  justify-content: space-between;
  border-radius: 1.25rem;
  background: var(--Foundation-Primary-primary-200, #af8ac1);
}
.imageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.25rem;
}
#mobile .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2.69rem;
}
#mobile .text h1 {
  font-family: Roboto;
  font-size: 2rem;
  font-weight: 700;
}
#mobile .textDiv {
  width: 15.49294rem;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
#mobile .text p {
  color: var(--Foundation-Black-black-600, #2a2a2a);
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 400;
}
#mobile .text h2 {
  color: var(--Foundation-Black-black-600, #2a2a2a);
  font-family: Roboto;
  font-size: 1.25rem;
  font-weight: 700;
}
.textDiv {
  width: 15.49294rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mblNum {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.line {
  width: 11.83556rem;
  height: 0rem;
  stroke-width: 2px;
  stroke: var(--CTA-Purple, #811db4);
}
.textDiv button {
  display: flex;
  padding: 1rem 5.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  color: var(--Color, #fff);
  font-family: Roboto;
  font-size: 1rem;
  background: var(--CTA-Purple, #811db4);
}
