#preferencesContainer {
  width: 100%;
  height: 100%;
}
#preferencesContainer .preferencesDiv {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  overflow-y: auto;
  gap: 1.5rem;
}

#preferencesContainer .preferencesDiv .preferencesTimeline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 5.25rem;
}
#preferencesContainer .preferencesDiv .preferDiv {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}
#preferencesContainer .preferencesDiv .preferDiv .name {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--Color, #fff);
  font-family: Roboto;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
}
#preferencesContainer .preferencesDiv .text_div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#preferencesContainer .preferencesDiv .searchBtn {
  display: flex;
  /* width: 23.75rem; */
  padding: 0.5rem 9.5rem 0.5rem 1rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.125rem;
  border: 1px solid #7e8195;
}
#preferencesContainer .preferencesDiv .preferImageDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.37rem;
}
#preferencesContainer .preferencesDiv .preferDiv p {
  color: #a3a9be;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.375rem;
}
#preferencesContainer .preferencesDiv .imagePrefer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* height: 35rem; */
  gap: 0.5rem;
  width: 100%;
}
#preferencesContainer .preferencesDiv .image_div {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  /* border-radius: 0.47394rem; */
  /* background: linear-gradient(
      0deg,
      rgba(193, 193, 193, 0.2) 0%,
      rgba(193, 193, 193, 0.2) 100%
    ),
    url(<path-to-image>), lightgray 50% / cover no-repeat; */
}

#preferencesContainer .preferencesDiv .image_div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  object-position: center;
}
