#profile-complete {
  width: 100%;
  height: 100%;
}
#profile-complete .completed-image {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-top: 5.5rem;
}

#profile-complete .completed-image img {
  width: 100%;
}

#profile-complete .completed-image img:nth-child(2) {
  width: 3rem;
}
