#successContainer {
  width: 100%;
  height: 100%;
}
#successContainer .successDiv {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  gap: 9.5rem;
}

#successContainer .successDiv .successTimeline {
  width: 23.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
#successContainer .successDiv .profileVerifyDiv {
  display: flex;
  flex-direction: column;
  gap: 3.87rem;
}
#successContainer .successDiv .logoDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
#successContainer .successDiv .logoDiv .logoImg {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  box-shadow: 4px 1px 10px 0px rgba(129, 29, 180, 0.25);
}
#successContainer .successDiv .profileLogo {
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  left: 24%;
}
#successContainer .successDiv .verifyLogo {
  position: absolute;
  top: 70%;
  left: 22%;
}
#successContainer .successDiv .buttonDiv {
  display: flex;
  justify-content: center;

  gap: 1rem;
}
#successContainer .successDiv .buttonDiv button {
  display: flex;
  padding: 0.75rem 1rem;
  align-items: center;
  border-radius: 0.125rem;
  border: 0.5px solid #7e8195;
  background: linear-gradient(94deg, #7e8195 3.63%, #7e8195 96.37%);
  background-clip: text;
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}
#successContainer .successDiv .buttonDiv button:hover {
  color: var(--Neutral-White, #e8e8e8);
  font-family: Roboto;
  font-size: 0.75rem;
  font-weight: 500;
  border: 0.5px solid var(--CTA-Purple, #811db4);
  background: var(--Foundation-Primary-primary-400, #753394);
}
