.artist-card-container {
  background-color: #2d0043;
  display: flex;
  flex-direction: column;
  background: linear-gradient(89deg, #203 19.85%, rgba(34, 0, 51, 0) 99.44%),
    url("/Images/Live/artist.png"),
    lightgray -5.388px -8.582px / 117.768% 120.838% no-repeat;
  background-size: cover;
}

.artist-card-container .name {
  font-family: supravitally;
  font-size: clamp(1.75rem, 0rem + 2.1875vw, 5.25rem);
  color: #ffca60;
}

.artist-card-container .title {
  font-weight: 100;
}

.artist-card-container .origin {
  margin-top: clamp(1rem, 0rem + 1.25vw, 3rem);
}

.artist-card-container .works {
  margin-top: clamp(0.5rem, 0rem + 0.625vw, 1.5rem);
}

.artist-card-container .key {
  font-weight: 500;
}

.artist-card-container .value {
  font-weight: 300;
}
