.auctioneer-card {
  background-color: #203;
  position: relative;
  display: flex;
  flex-direction: column;
}

.auctioneer-card .profile-image {
  width: clamp(3.5rem, 0rem + 4.375vw, 10.5rem);
  height: clamp(3.5rem, 0rem + 4.375vw, 10.5rem);
  object-fit: cover;
  position: absolute;
  right: clamp(0.5rem, 0rem + 0.625vw, 1.5rem);
  top: clamp(0.5rem, 0rem + 0.625vw, 1.5rem);
}

.auctioneer-card .name {
  font-family: "supervitally";
  color: #ffca60;
  letter-spacing: -1px;
}

.auctioneer-card .title {
  font-weight: 300;
}

.auctioneer-card .position {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  width: 80%;
}

.auctioneer-card .white-cloth-sale {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.auctioneer-card .white-cloth-sale span:nth-child(1) {
  font-size: clamp(0.75rem, 0rem + 0.9375vw, 2.25rem);
}

.auctioneer-card .white-cloth-sale span:nth-child(2) {
  font-weight: 300;
  font-size: clamp(0.75rem, 0rem + 0.9375vw, 2.25rem);
}
