.side-info-panel-container .bidding-details-card {
  background-color: #2d0043;
  display: flex;
  flex-direction: column;
}

.side-info-panel-container .bidding-details-card .title {
  font-size: clamp(1.125rem, 0rem + 1.4063vw, 3.375rem);
  text-align: center;
}

.side-info-panel-container .bidding-details-card .info {
  display: flex;
  justify-content: space-between;
}

.side-info-panel-container .bidding-details-card .info .key {
  font-weight: 300;
}

.side-info-panel-container .bidding-details-card .info .value {
  font-weight: 500;
}
