.catelogue-card-container {
  background-color: #2d0043;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.catelogue-card-container .card-title {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 300;
}

.catelogue-card-container .info-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.75rem;
}

.catelogue-card-container .key {
  font-weight: 500;
}
