.live-container .place-bid-container {
  position: absolute;
  width: calc(100% - clamp(18.5rem, 0rem + 23.125vw, 55.5rem));
  height: 100%;
  right: 0;
  top: 0;
  background: rgba(20, 20, 20, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
