.side-info-panel-container .price-factor-card {
  display: flex;
  flex-direction: column;
}

.side-info-panel-container .price-factor-card .sub-title {
  font-weight: 300;
}

.side-info-panel-container .price-factor-card .info {
  font-size: clamp(0.85rem, 0rem + 1.0625vw, 2.55rem);
}

.side-info-panel-container .price-factor-card .type {
  margin-bottom: clamp(0.25rem, 0rem + 0.3125vw, 0.75rem);
}

.side-info-panel-container .price-factor-card .limits {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
}

.side-info-panel-container .price-factor-card img {
  width: 100%;
  position: relative;
  top: -clamp(0.25rem, 0rem + 0.3125vw, 0.75rem);
}
