.provenance-card {
  background-color: #2d0043;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  gap: clamp(0.65rem, 0rem + 0.8125vw, 1.95rem);
}

.provenance-card .title {
  text-align: center;
  font-weight: 300;
}

.provenance-card .owners {
  display: flex;
  flex-direction: column;
  margin-left: clamp(1rem, 0rem + 1.25vw, 3rem);
}
