.side-info-panel-container .top-fixed-card-container {
  display: flex;
  flex-direction: column;
  background-color: #203;
  position: relative;
}

.side-info-panel-container .top-fixed-card-container #view-carousel {
  width: clamp(2rem, 0rem + 2.5vw, 6rem);
  position: absolute;
  right: clamp(1rem, 0rem + 1.25vw, 3rem);
  transition: scale 0.25s;
}

.side-info-panel-container .top-fixed-card-container #view-carousel:hover {
  cursor: pointer;
  opacity: 0.9;
  transform: scale(1.05);
}

.side-info-panel-container
  .top-fixed-card-container
  .view-carousel-hover-effect-demo {
  opacity: 0.9;
  transform: scale(1.05);
  border: 2px solid #ffca60 !important;
  border-radius: clamp(0.5rem, 0rem + 0.625vw, 1.5rem);
}

.side-info-panel-container button {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.side-info-panel-container .lot {
  padding: clamp(0.5rem, 0rem + 0.625vw, 1.5rem)
    clamp(1rem, 0rem + 1.25vw, 3rem);
}

.side-info-panel-container .header-border {
  width: 100%;
}

.side-info-panel-container .title {
  font-weight: 500;
}

.side-info-panel-container .artist {
  display: flex;
  align-items: center;
}

.side-info-panel-container .artist span {
  font-weight: 500;
}

.side-info-panel-container .dimension {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.side-info-panel-container .dimension .width,
.height {
  display: flex;
  align-items: center;
}

.side-info-panel-container .condition {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.side-info-panel-container .condition .value {
  font-weight: 300;
}

.side-info-panel-container .appreciation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-info-panel-container #place-bid {
  background-color: #520079 !important;
  color: #fff;
}

.side-info-panel-container .similar-works {
  display: flex;
  justify-content: space-between;
}

.side-info-panel-container .similar-works .bell-container {
  border: 1px solid #af8ac1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-info-panel-container .similar-works button {
  width: 100%;
  color: #af8ac1;
  border: 1px solid #af8ac1 !important;
  background-color: transparent;
}

.side-info-panel-container .similar-works button:active {
  background-color: #af8ac1;
  color: #fff;
}
